body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* .container {
 margin: 40px;

} */


h1 {
  margin-left: 40px;
  font-family: 'Poppins', sans-serif;
}

h2 {
  margin-left: 40px;
  font-family: 'Poppins', sans-serif;
}

h3 {
  margin-left: 40px;
  font-family: 'Poppins', sans-serif;
}

.category-group {
  background-color: #ffb380;
  color: #ffffff;
  margin: 0px;
  margin-top: -22px;
  padding-top: 20px;
}


.categoryList {
  display: inline-block;
  margin-right: 20px;
  margin-left: 0px;
  margin-bottom: 10px;
}

.post-list {
  padding-left: 20px;
 
  width: 60%;
  list-style: none;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #fff0e6;
  padding-top: 10px;
}

.post-list-group {
  margin-left: auto;
}

.post-content {
  display: block;
  border-style: solid;
  border-width: 0.5px;
  width: 60%;
  padding: 10px;
}

.modal {
  width: 30%;
  margin: auto;
  border-style: solid;
  padding: 20px;
}

.buttons {
  margin-left: 40px;
  margin-top: 20px;
}
button {
  margin-right: 15px;
  margin-bottom: 10px;
}

form {
  margin-bottom: 10px;
}

p {
  display: inline-block;
  margin-right: 15px;
}

.post-details-title {
  background-color: #ffb380;
  color: #ffffff;
  margin: 0px;
  margin-top: -80px;
  padding-top: 30px;
  height: 100px;
}

.comment-list-title {
  margin-left: 0px;
}

.comment-list-group {
  margin-left: 80px;
}

.link-to-cat {
  display: block;
  margin-top: 10px;
  margin-bottom: 30px;
}

.edit-post {
  margin-bottom: 10px;
}

.form-control {
  width: 80%;
  height: 30px;
  margin-bottom: 10px;
}